body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
    
}
#container{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    text-align: justify;
    height: auto;
}
#div-biography{
    width: 60rem;
}
#biography{
    max-height: 4em; /* Altura equivalente a 3 linhas de texto */
    overflow: hidden;
    line-height: 1.2em;
    white-space: pre-line;
    text-align: justify;
    cursor: text;
}
#not-biography{
    float: left;
    width: 950px;
    text-align: center;
}
#box-actor{
    font-size: 15px;
    width: auto;
    height: 510px;
}
#container-more-informations{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#more-informations{
    display: flex;
    flex-direction: column;
    margin-right: 1120px;
    margin-left: 150px;
    height: auto;
    width: 300px;
}
#more-informations label{
    padding-bottom: 10px;
}
#picture-actor{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    padding: 10px;
    border-radius: 15px;
    float: left; /* Alinhar a imagem à esquerda */
    margin-right: 10px;
}
#div-acting{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: scroll; /* Adiciona a barra de rolagem horizontal */
    width: 100%;
    overflow-x: hidden;
}
#bests-movies-text{
    text-align: center;
    font-size: 20px;
}
#movies{
    overflow: hidden;
    width: 150px;
    height: 350px;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#div-acting img{
    border-radius: 10px;
    flex: 0 0 auto; /* Impede que as imagens se redimensionem */
    width: 140px; /* Define a largura das imagens */
    height: 250px; /* Permite que a altura das imagens seja ajustada proporcionalmente */
    margin-right: 10px;
    display: block;
}
#text{
    flex-basis: 100%;
    padding-top: 15px;
    display: block;
    text-align: center;
}

@media screen and (min-width: 801px) and (max-width: 1305px){
    
    #div-acting{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
        grid-gap: 20px;
        justify-items: center;
        align-items: center;
        margin-right: 5rem;
    }
    #container img{
        width: 300px;
        height: auto;
    }
    #picture-actor{
        margin-left: 1rem;
    }
    #box-actor{
        float: left;
        height: auto;
        overflow-x: hidden;
        width: auto;
        height: 510px;
    }
    #div-biography{
        height: auto;
        width: auto;
        margin-right: 2rem;
        margin-left: 0rem;
    }

    #container-more-informations{
        align-items: center;
        font-size: medium;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 1120px;
        margin-left: 140px;
        margin-bottom: 2rem;
        height: 200px;
        width: 200px;
        
    }
    #more-informations{
        position: relative;
        margin-top: 2rem;
        margin-left: 10px;
        margin-right: 160px;
    }
    
    #biography h2{
        margin-left: 0rem;
        margin-right: 1rem;
        line-height: 1.5;
    }
    
}

@media screen and (max-width: 800px){
    #container{
        display: flex;
        flex-direction: column;
    }
    #box-actor{
        display: flex;
        flex-direction: column;
        float: left;
        height: auto;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    #name-actor{
        text-align: center;
    }
    #text-biography{
        margin-left: 1rem;
    }
    #div-biography{
        height: auto;
        width: auto;
        margin-right: 2rem;
        margin-left: 1rem;
    }

    #container img{
        width: 250px;
        height: auto;
    }
    #container-more-informations{
        align-items: center;
        font-size: medium;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 1120px;
        margin-top: 2rem;
        margin-left: 140px;
        margin-bottom: 2rem;
        height: 200px;
        width: 200px;
        
    }
    #more-informations{
        position: relative;
        margin-top: 2rem;
        margin-left: 10px;
        margin-right: 160px;
    }

    #div-acting{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
        grid-gap: 20px;
        justify-items: center;
        align-items: center;
        margin-right: 5rem;
    }
    #biography{
        padding-bottom: 50px;
    }
    #biography h2{
        font-size: 24px;
        margin-left: 1rem;
        margin-right: 1.6rem;
        text-align: center;
        line-height: 1.5;
    }
}