<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="api-actor.css">
    <title></title>
</head>
<body>
    <script src="/view/header.js"></script>
    <div id="container">
        <img id='picture-actor' src=''></img>
        <h1 id="name-actor"></h1>
        <div class='box-actor' id='box-actor'>
            <div id="div-biography">
                <h2 id='text-biography'></h2>
                <label id='biography'></label>
            </div>
        </div>
    </div>
    <div id="container-more-informations">
        <div id="more-informations">
            <label id="birthday-actor"></label>
            <label id="gender-actor"></label>
            <label id="known_for_departament"></label>
            <label id="place-of-birth"></label>
        </div>
    </div>
    
    <hr>
    <div id="bests-movies-text">
        <h2 id="txt-movies-best">Filmes mais bem avaliados pelos usuários</h2>
    </div>
    <div id="div-acting" class="div-acting">
        
    </div>
    <script src="/view/footer.js"></script>
</body>
<script src="/model/api-actor.js"></script>
</html>