<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="api-actor.css">
    <title></title>
</head>
<body>
    <div id="container">
        <img id='picture-actor' src=''></img>
        <div class='box-actor' id='box-actor'>
            <h1 id="name-actor"></h1>
            <label id="birthday-actor"></label>
            <p id="gender-actor"></p>
            <p id="known_for_departament"></p>
            <p id="place-of-birth"></p>
            <h2 id='text-biography'></h2>
            <label id='biography'></label>
        </div>
    </div>
    <hr>
    <div id="div-acting" class="div-acting">

    </div>
</body>
<script src="/model/api-actor.js"></script>
</html>